.missions-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.missions-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
