* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./images/background.png');
  color: white;
  font-style: normal;
  padding: 20px;
}

h1 {
  font-size: 95px;
  text-align: center;
  padding: 30px;
}

h2 {
  font-size: 45px;
  font-weight: 600;
}

.titulos-h2 {
  align-items: center;
  background: rgba(24, 26, 37, 0.5);
  border: 1px solid white;
  border-radius: 17px;
  box-sizing: border-box;
  display: flex;
  height: 70px;
  justify-content: center;
  mix-blend-mode: hard-light;
  width: 1100px;
}

@media (max-width: 1210px) {
  h1 {
    font-size: 45px;
    text-align: center;
  }

  h2 {
    font-size: 22px;
  }

  .titulos-h2 {
    height: 35px;
    width: 550px;
  }

}

@media (max-width: 680px) {
  h1 {
    font-size: 32px;
    text-align: center;
  }

  h2 {
    font-size: 12px;
  }

  .titulos-h2 {
    height: 16px;
    width: 220px;
  }
}
